<%= render "projects/errors"  %>

<div class="center jumbotron">
  <h2 align="center">New Project</h2>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="well">
      <%= form_for @project do |f| %>
        <p>
          <%= f.label :name %> <br />
          <%= f.text_field :name %>
        </p>
        
        <p>
          <%= f.label :description %> <br />
          <%= f.text_area :description %>
        </p>
        
        <p>
          <%= f.submit class: "btn btn-primary" %>
        </p>
      
      <% end %>
    </div>
    <%= link_to "Project list", projects_path %>
  </div>
</div>
