<%= render "layouts/flash" %>
<div class="container">
  <div class="jumbotron center">
    <h2 align="center">Index</h2>
  </div>
    
 <div align="center">
        
           <div align="center">
             <% @projects.each do |pro| %>
             <div class="col-md-4 col-md-offset-4 well profile-black-white-thin row "<%= cycle('profile-black-white-thin-b', '') %>>
               <p class="descriptionText">Project: <%= pro.name %></p>
               <p>Description: <%= pro.description %></p>
               <%= link_to "View", project_path(pro), class: "btn btn-info bttn" %>
           
                  <%= link_to "Edit", edit_project_path(pro), class: "btn btn-warning bttn" %>
                  <%= link_to "Delete", project_path(pro), method: :delete, data: {confirm: "Are you sure??"}, 
                                                                      class: "btn btn-danger bttn" %>
                
             </div>
           <% end %>
        </div>
    </div>

</div>