<%= render "layouts/flash" %>
<div class="container">
  <div class="row toppie">
    <h2 align="center">Project</h2>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="well">
    <p align="center">
      Name: <%= @project.name %>
    </p>
    <br />
    <p align="center">
      Description: <%= @project.description %>
    </p>
    <p align="center">
      <% if logged_in? && (current_user == @project.user || current_user.admin?) %>
        <%= link_to "Edit Project", edit_project_path(@project), class: "btn btn-primary" %>
        
      <% end %>
      <%= link_to "Project List", projects_path, class: "btn btn-primary" %>
    </p>
    </div>
  </div>
</div>
</div>
  



