<!DOCTYPE html>
<html>
  <head>
    <title>ProjectApp</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= render "layouts/navigation" %>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <% flash.each do |name, msg| %>
        <div class="alert alert-<%= name %>">
          <a href="#" class="close" data-dismiss="alert">&#215;</a>
          <%= msg %>
        </div>
      <% end %>
    </div>
  </div>

    <%= yield %>
  </body>
</html>
